*{
  font-family: 'Lato', ;
}

#back{
  background-color: white;
  overflow: auto;
} 
#profile{
    height: 500px;
    margin-bottom:31px;
}
#container{
    height:500px; 
    overflow:hidden;
    overflow-y:scroll;
    margin-left: 15px;
  }
  #container2{
    height:500px; 
    overflow:hidden;
    overflow-y:scroll;
    margin-left: 5%;
  
  }
  #details{
      margin-bottom: 50px;
  }
  nav ul li a{
    color: #90a4ae ;
  }  
  #footer{
    background: #767a7e;
    color: white;
  }

  #profile1{
    margin-top: 10px;
}
  #dashboard{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  #search{
    margin-top: -30px;
    width: 60%;
    border-radius: 5px;
  }
#src{
  margin-top: -19px;
    margin-left: 3px;
  
}
#src1 {
  margin-top: -12px;
  border-radius: 8px;
  background-color: #3fb2aa;
  color: white;
}
#dashicn{
  color:#1de9b6;
  margin-left: 18px;
  margin-right: 10px;
  margin-top: 3px;
  font-size: 23px;
}
#editicn{
  cursor: pointer;
  color:gray;
}
#dashbtn{
  width: 120px;
  margin-top: 8px;
  border-radius: 10px;
  background: #3FB2AA; 
  color: white;
  text-transform: initial;
}
#btnnav{
  width: 75px;
  text-decoration: none;
  background: #3FB2AA; 
  color: white;
  text-transform: initial;
}
#logout{
  margin-top: 10%;
  font-family: 'Lato', ;
  text-transform: capitalize;
}
#dashtext{
  font-weight: bolder;
  margin-top: -1px;
}
#home{
  text-decoration: none;
  color: #707070;
}
.nav-wrapper .input-field input[type=search] {
  height: inherit;
  padding-left: 0;
  width: calc(100% - 4rem);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#profileicn{
  font-size: 66px;
}


#popcancelbtn{
  width: 95%;
  border: 2px solid lightseagreen;
  margin-top: 14px;
  background: white;
  color: 2px solid lightseagreen;
  outline: none;
  border-radius: 10px;
  padding: 9px;
  font-size: 15px;
}
#inputBorder{
  width: 95%;
  border-radius: 10px;
  height: 34px;
    margin: 0px;
    margin-bottom: 12px;
  border: 1px solid lightseagreen;
  background: white;
  color:black;
  outline: none;
  font-size: 13px;
}
#popsavebtn{
    width: 95%;
    margin-top: 12px;
    outline: none;
}
.popup-content {
  position: relative;
  width: -1%;
  height: auto;
  border-radius: 12px;
  margin: auto;
  border: none;
  padding: 5px;
}
.popup-overlay{
  
  overflow: scroll;
  background: content-box;

}

#popTitle{

  margin-bottom: 43px;
}
#popLabel{
  font-size: 17px;
  margin-right: 28px;
  margin-left: -67px;
  margin-bottom: 0px;
}
#viewdetails{
  color: turquoise;
    cursor: pointer;
}
#cardContent{
  padding: 6px;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
  margin-top: -53px;
} 
#dashcancelbtn{
  cursor: pointer;
}
#textimg{
  position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 23px;
}