*{
    padding: 0px; margin: 0px; 
    font-family: 'Lato', ;
    box-sizing: border-box;
    
}
  #main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 380px;
    background-color:rgb(214, 250, 250); 
    border-radius: 10px;
    margin-top: 100px;
    box-shadow: 0 20px 50px rgba(230, 219, 219, 0.733);
  }

  #outline{
      margin-top: 30px;
  }
  #center{
       padding: 32px 48px 0px 48px;
       margin-bottom: 20px;
  }
  
  #jobseeeker,#vendorr,#associationn,#residentt{
    background: white;
    border-radius: 16px;
    padding: 5px
  }
  #jobseeeker,#vendorr{margin-right: 14px;}
  #texttt{
      margin-bottom: 35px;
      color: #707070;
  }
  #side{
      margin: 35px;
  }
  #body{
    position: relative;
    margin-top: 190px;
  }
  
  #logo{
    margin-left: -10px;
    margin: 11px auto;

  }
  
  #pre{
    margin-top: 17px;
    margin-right: 18px;
    font-size: 17px;
    color: #3FB2AA;
    text-decoration: none;
}


@media (min-width: 626px) {
    body {
      background: url('../Images/Background.png');
       background-position: 100% 15%; 
      background-repeat: no-repeat;
      background-position: fixed;
      background-size: cover;
    }
  
}

@media (max-width: 625px) {
  body {
    background: url('../Images/Background.png');
     background-position: 100% -40%; 
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
  }
} 
/* @media only screen and (max-width: 625px)
{

    #main{
        width: 374px;
    }
    
} */
