*{
  padding: 0px; margin: 0px; 
  font-family: 'Lato', ;
  box-sizing: border-box;
  
}
#main {
  width: 500px;
  height: 380px;
  background-color:rgb(214, 250, 250);
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 30px;
}
#frm{
  margin-top: 23px;
}
.md-form{
  margin-top: 10px;
}
:root {
  --info-color: #0099CC;
}

.btn-toggle-pass {
  border: none;
  position: absolute;
  top: 11px;
  background: transparent;
  right: 0;
}

.btn-toggle-pass.active {
  color: var(--info-color);
}

.container{
  padding-top:50px;
  margin: auto;
}
.cameraa{
  margin-left: 57px;
  /* margin-right: 206px; */
  margin-top: -48px;
  padding: 0px;
}
i.large {
  font-size: 10rem;
}
.cameraa input[type="file"]
{
padding-left: 51px;
  padding-right: 0px;
  /* padding-bottom: 0px; */
  /* padding-top: 0px; */
  width: 0%;
  /* background-color: #fff; */
  border: none;
  /* padding-left: 24px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 0%;
  background-color:#fff;
  border:none; */
}
/* 
#body{
  background: url('../Images/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;  
} */

#outline{
    
    margin-top: 30px;
   
}
#center{ 
     padding: 32px 48px 0px 48px;
     margin-bottom: 20px;
}
#jobseeker{
background: url('../Images/jobseeker.png');
}
#vendor{
background: url('../Images/vendor.png');

}
#association{
background: url('../Images/association.png');

}
#resident{
background: url('../Images/resident.png');

}
#jobseeker,#vendor,#association,#resident{
background-repeat: no-repeat;
border-radius: 10px;
display: flex;
justify-content:flex-end;

}

#side{
    margin: 35px;
}
.img3{
  width: 70px;
  height: 70px;
  margin-left: -98px;
}
.text-center3{
  text-align: center;
  padding-top: 4%;
  padding-bottom: 0px;
  font-size: 35px;
  color: #707070;
  margin-left: 33px;
}
.form-wrapper input{
  width:80% ;
}
.form2 {
padding-bottom: 20%;
width: 100%;
}

.email1
{
display: flex;
flex-direction: column;
margin-bottom: 15px;
width: 100%;
margin-right: 1%;
}
.password1
{
display: flex;
flex-direction: column;
margin-bottom: 15px;
width: 100%;
margin-right: 1%;
}
.confirmpassword1{
display: flex;
flex-direction: column;
margin-bottom: 15px;
width: 100%;
margin-right: 1%;
}

#Registertext{
margin-bottom: 14px;
margin-top: 23px;
color: #707070;
margin-left: 82px;
}
#RegisterButton {
width: 288px;
margin-top: 25px;
outline: none;
border: none;
margin-left: 10px;
}
.well
    {
       padding: 35px;
       padding-left: 30px;
       box-shadow: 0 0 50px #666666;
       margin: 7% auto 0;
       width: 450px;
       background: rgba(0.4, 0, 0, 0.4);
    }

    .btn1
    {
       background-color: #FF3838;
       color: white;
       transition: all 0.5s;
    }
    .btn1:hover, .btn1:focus
    {
       background-color: white;
       color: black;
       border: 1px solid;
       border-color: #FF3838;
       transition: 0.5s;
    }
    a:hover
    {
       text-decoration: none;
       color: red;
    }

   

    .well-header
    {
       background-color: #FF3838;
    }

    .input-group-addon
    {
        background-color: #FF3838;
        border-color: #FF3838;
        color: white;
    }

    .btn2
    {
       transition: all 0.5s;
    }


    .btn2:hover, .btn2:focus
    {
       border-color: #428bca;
       color: black;
       background-color: white;
       transition: 0.5s;
    }
    #showhide{
      display: contents;

  color: black;
    }
    #showhides{
      display: contents;

  color: black;
    }
    /* #eye{
      margin-left: 10%;
    } */
    /* .glyphicon {
      float: right;
      margin-right: -141px;
      /* margin-left: -334px; */
      /* position: relative;
      top: -70px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; */
  /* } */ 
  /* #pwd{
    margin-top: 28px;
    width: 105%;
    margin-left: 43px;
  }
  #icon{
    margin-left: -119px;
  color: gray;
  top: -2px;
  } */

  /* .input-field {
    position: relative;
    margin-top:40px;
    margin-bottom: 1rem;
} */
#pwd{
  width: 90%;
  margin-left: 41px;
}


.glyphicon {
position: relative;
top: -77px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
margin-left: 208px;
margin-right: -93px;
}
#icon{
margin-left: -117px;
color: gray;
top: -32px;
} 
#pwds{
  width: 90%;
  margin-left: 41px;
  margin-top: -54px;
}
#icons{
margin-left: -117px;
color: gray;
top: -91px;
} 
#eye{
position: fixed;
top: 268px;
margin-left: 138px;
}
#eyes{
position: fixed;
top: 330px;
margin-left: 138px;
}
.input-field {
/* position: relative; */
margin-top: 28px;
margin-bottom: 1rem;
}
#icon_prefix {
margin-top: -21px;
/* width: 234px; */
/* margin-left: 43px; */
/* font-size: 15px; */
font-family: 'Lato';
letter-spacing: 1px;
color: #707070;
}
i.large {
font-size: 6rem;
}
.userimages{
margin-left: 248px;
border: 2px solid #3fb2aa;
border-radius: 100px;
margin-right: 229px;
}
.cameraa{
  margin-left: 283px;
  margin-right: 173px;
  margin-top: -47px;
  padding: 0px;
}
.image_wrapper{
  margin-left: -129px;
}
#icon_prefixs {
  margin-top: -70px;
  /* width: 234px; */
  margin-left: 43px;
  /* font-size: 15px; */
  font-family: 'Lato';
  letter-spacing: 1px;
  color: #707070;
}