*{
  font-family: 'Lato', ;
}

/* body{
  background-color: #111;
} */
.control{
  padding:2px;
}
.text-center{
    margin-left: 130px;
  }
  .wrapper5 {
 
    margin-top: 10px;
   overflow: hidden;
    /* overflow: hidden;
    position: fixed; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
  }
  .form-wrapper4{
    /* position: relative; */
    
    position: relative;
    margin-left: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 7px #555;
    background-color: #ffffff;
    height:628px;
  }

#popup{
  margin-bottom: 50px;
  border:none;
  border-bottom: 1px solid #9e9e9e;
  border-radius:0px;
  margin-left: 2%
}
.mobileNumber,
  .years,
  .panNumber,
  .jobOpening{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 49%;
    margin-left: 1%;
  }
  .fullName,
  .Email,
  .Resume,
  .aadhar,
  .education,
  .applied{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 49%;
    margin-right: 1%;
  }

  h3{
    margin-right: 96px;
  }
  .img{
    width: 50px;
    height: 50px;
  }
  .checkbox{
    margin-left: 183px;
    
    position: absolute;
    top: 469px;
   
  }
  /* .checkbox[type="checkbox"]{
    position: relative;
    
  } */
  .text-center h3{
    text-align: center;
    padding-top: 0%;
    font-size: 27px;
    color: #707070;
    margin-left: -11px;
    margin-bottom: 65px;
  
  }
  .years{
    position: inherit;
  }
  #demo{ 
    width: 100%;
    margin-top: 46px;
    margin-left: 1%;
    float: left;
    border: none;
   border-bottom: 1px solid #9e9e9e;
   border-radius: inherit;
   font-size: 16px;
   color: #9e9e9e;
   padding: 1px 0px 6px 1px;
   font-family: Lato;
  }
  #update{
    width: 100%;
    margin-top: 5px;
    margin-left: -3%;
    float: left;
    border: none;
   border-bottom: 1px solid #9e9e9e;
   border-radius: inherit;
   font-size: 16px;
   color: #9e9e9e;
   padding: 1px 0px 6px 1px;
   font-family: Lato;
  }
   
  .choose{
    margin-top: -27px;
    display: flex;
    margin-left: 1%;
    font-size: 16px;
    font-family: Lato;
    color: #9e9e9e;
  
    }
    #submit{
      font-size: 16px;
    font-weight: 700;
    font-family: Lato;
    margin-left: 100px;
    margin-top: 67px;
    }
    #label{
      color: #9e9e9e;
      font-size: 16px;
    }
  .img4{
    margin-top: -9px;
    width: 70px;
    height: 70px;
    margin-left: -110px;
  }
  .text-center4{
    text-align: center;
    padding-top: 4%;
    padding-bottom: 0px;
    font-size: 35px;
    color: #707070;
    margin-left: 33px;
  }
  #option{
    background-color: #3fb2aa;
    color: #ffffff;
  }
 .address{
  position: relative;
  height: 2px;
  margin-top: -46px;
  width: 49%;
 }
 #address{
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background: #fff;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  margin-top: 3px;
 }
.userimage{
    margin-left: 229px;
    border: 2px solid #3fb2aa;
    border-radius: 100px;
    margin-right: 225px;
  }
  .camera{
    margin-left: 283px;
    margin-right: 206px;
    margin-top: -47px;
    padding: 0px;
  }
 
  .image_src {
    background-image: url("../Images/camerapic.png"); 
    background-repeat: no-repeat;
 }

 .camera input[type="file"]
{
  padding-left: 51px;
    padding-right: 0px;
    /* padding-bottom: 0px; */
    /* padding-top: 0px; */
    width: 0%;
    /* background-color: #fff; */
    border: none;
    /* padding-left: 24px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 0%;
    background-color:#fff;
    border:none; */
  }
#filebutton{
    width: 10%;
  }
  .Resume input[type="file"]{
    margin-top: -53px;
    padding: 11px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0px;
    margin-left: -8px;
  }
  #multi{
    width:100%;
  }
  #input{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #707070;
    
  }
  