
.card {
  
    background-color: white;
   
}
#block{
    padding: 7px;
    border-radius: 9px;
    cursor: pointer;
}
#MianBlock{
    margin: 10px;
}
#footer{
    padding: 4px;
    margin-top: 9px;
    margin-left: -108px;
}